@tailwind base;
@tailwind components;
@tailwind utilities;

.Temp3 {
  background-color: #000233;
  color: #fafdf7;
  background-image: url(../public/Images/hero-bg-min.png);
  background-repeat: no-repeat;
}

.Temp {
  background-color: #121212;
  color: #fafdf7;
}
.Temp1 {
  background-color: #1e1e1e;
}

.BorderRadius {
  border-radius: 50px;
}

.QuickSand {
  font-family: "Quicksand", sans-serif;
}
.Nunito {
  font-family: "Nunito", sans-serif;
}

.Inter {
  font-family: "Inter", sans-serif;
}

.LineHeight {
  line-height: 60px;
}
